//---------- BODY ----------
body {
	grid-template-areas: 
		"header"
		"links"
        "content"
		"footer";
    grid-template-columns: auto;
} // end body

//---------- NAVIGATION ----------
nav {
    ul {
        margin: 0 $gutter;
        display: flex;
        flex-direction: row;
    }
    ul li a {
        border:none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    ul li:first-child a{
        border-top: none;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
} // end nav