//---------- NAVIGATION ----------
nav {
    ul li a {
        position: relative;
        background-position: center 5px;
        background-size: auto 26px;
        color: #fff;
        text-decoration: none;
    }

    ul li a span {
        position: absolute;
        bottom: 5px;
        width: 100%;
        display: block;
        font-size: .6rem;
        text-align: center;
    }
} // end navigation

