/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//--------------- BODY ---------------
body {
	font-family: $defaultFont;
	font-size: 16px;
	display: grid;
	grid-template-rows: auto;
	grid-template-areas: 
		"myNavigation"
		"myHeader"
		"myContent"
		"myFooter";
}

//--------------- HEADER ---------------
header {
	grid-area: myHeader;
	h1 {display: none;}
	img {padding: 1rem 0 .5rem 2%; display: block;}
} // end header

//********** INDEX.HTML V1 **********
/*header {
	margin-top: 44px;
	h1 {display: none;}
	img {padding: 1rem 0 .5rem 2%; display: block;}
} // end header*/


//--------------- NAVIGATION ---------------
nav {
	grid-area: myNavigation;
	background-color: $menuColor;

	button {
		margin: 3px 2%;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.2);
		color: #fff;
		font-size: 1.5rem;
		width: 3.5rem;
	}

	ul {
		overflow: hidden;
	}

	ul li a {
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding: .6rem 2%;
		width: 100%;
		color: #fff;
		text-decoration: none;
	}
	ul li ul li a {
		padding-left: 8%;
	} // nested anchors
	ul li.active > a {
		background-color: #000;
	}
	ul li a:hover {
		background-color: darken($menuColor, 10%);
	}

	ul.closed {max-height: 0;}
	ul.open {
		max-height: 31rem;
		transition: max-height 0.5s;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
	}
} // end nav

//********** INDEX.HTML V1 **********
/*nav {
	background-color: $menuColor;
	position: absolute;
	top: 0;
	width: 100%;

	button {
		background-image: url("../../images/menuIconWhite.png");
		background-color: rgba(0, 0, 0, 0.1);
		background-repeat: no-repeat;
		background-size: 86%;
		background-position: center center;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		width: 72px;
		height: 32px;
	} // end button

	ul li.active a {
		background-color: $primaryColor;
	} // end active

	ul li a {
		display: block;
		padding: .7rem 2%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		color: #fff;
		text-decoration: none;
	} // end anchors

	ul li a:hover {
		background-color: darken($menuColor, 10%);
	}

	ul li ul li a {
		padding-left: 8%;
	} // end nested anchors

	ul.closed { // generated and used by the JS
		display: none;
	}
} // end nav */

//--------------- MAIN ---------------
main {
	grid-area: myContent;
	padding: 1rem 0;
	h1 {font-size: 2.5rem; color: $secondaryColor; padding-left: 2%;}
	figure.w100 img {width: 100%;}
	figure.w100 {width: 100%;}
	.box { 
		margin-top: 1rem;
		padding: 2rem 2%; 
		text-align: center; 
		line-height: 140%;
		font-size: 2rem; 
		color: #fff;
	} // end box
	.boxA {@extend .box; background-color: $primaryColor;}
	.boxB {@extend .box; background-color: $secondaryColor;}
	.box span {display: block; font-size: 1rem; line-height: 120%;}
} // end main

//--------------- FOOTER ---------------
footer {
	grid-area: myFooter;
	color: $primaryColor;
	padding: 2rem 0;
	text-align: center;
}

//--------------- Clearfix: Force an Element not to collapse ---------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}